<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application','data-no-turbolink' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
    <div id="welcome">
      <%= render :template=> "welcome/form" %>
    </div>
    <%= yield %>
    </div>
  </body>
</html>
